<div>
    <h1>Arquiteto</h1>

    <div>
        <form [formGroup]="form" class="form">
            <div class="bit">
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input formControlName="nome" matInput placeholder="Nome">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>CPF</mat-label>
                    <input formControlName="cpf" matInput placeholder="000.000.000-00">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>CAU</mat-label>
                    <input formControlName="cau" matInput placeholder="0000001-0">
                </mat-form-field>
            </div>
            <div class="bit">
                <mat-form-field appearance="fill">
                    <mat-label>Endereço</mat-label>
                    <input formControlName="endereco" matInput placeholder="Rua, numero, Bairro, Cidade-UF">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Telefone</mat-label>
                    <input formControlName="telefone" matInput placeholder="(00)00000-0000">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="email@email.com">
                </mat-form-field>
            </div>
        </form>
        <button mat-raised-button color="primary" (click)="salvarArquiteto()">Salvar</button>
    </div>
    <hr>

    <table mat-table [dataSource]="dataSource" class="table">

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
        </ng-container>

        <ng-container matColumnDef="cau">
            <th mat-header-cell *matHeaderCellDef> CAU </th>
            <td mat-cell *matCellDef="let element"> {{element.cau}} </td>
        </ng-container>

        <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef> Endereço </th>
            <td mat-cell *matCellDef="let element">{{element.endereco}}</td>
        </ng-container>

        <ng-container matColumnDef="telefone">
            <th mat-header-cell *matHeaderCellDef> Telefone </th>
            <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="remover">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> 
                <button (click)="deletarArquiteto(element)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button> 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>